<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
 crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<html>

<head>
	<title>Delete Patient</title>
</head>

<body>
	<nav class="navbar navbar-dark bg-dark justify-content-between">
		<form action="/home">
			<button style="border: 0px solid transparent;" class="btn btn-outline-primary">HOME</button>
		</form>
		<form class="form-inline" action="/logout">
			<label style="color:white; padding-right: 10px">Hi {{session.get('username')}}!</label>
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
		</form>
	</nav>
	<div class="jumbotron">
		<center>
			<h1 class="display-4">Organ Donation and Procurement Management System</h1>
		</center>
	</div>
	<form action="/del_patient" method="POST" class="container">
		<div class="form-group">
			<label>Patient ID</label>
			<input type="number" name="Patient_ID" class="form-control">
		</div>
		<div class="form-group">
			<label>Organ Required by the Patient</label>
			<input type="text" name="organ_req" class="form-control">
		</div>
		<button class="btn btn-primary" type="submit" style="width:24%;" name="delete">Delete Patient</button>
	</form>
</body>

</html>
